@import "../components/todo-list/todo-list.component";
@import "../components/header-bar/header-bar.component";
@import "../controls/toggle-switch/toggle-switch";
@import "./controls/checkbox";

body {
  margin: 0;
  padding: 0;

  background: rgb(var(--app-bg));
  color: rgb(var(--app-fg));

  transition: background-color .3s ease-in-out,
              color .3s ease-in-out;

  font-family: 'Titillium Web', sans-serif;
  user-select: none;
}