$toggle-size: 24px;
$padding: 1px;
$border-width: 1px;

.toggle-switch {
  display: flex;

  line-height: $toggle-size + $padding * 2 + $border-width * 2;

  &__frame {
    border: $border-width rgba(var(--primary-accent), .2) solid;
    transition: border-color .3s ease-in-out;
    border-radius: 2px;
    padding: $padding;
    box-sizing: border-box;

    width: $toggle-size*2 + $padding*2 + $border-width*2;
    height: $toggle-size + $padding*2 + $border-width*2;

    position: relative;

    .toggle-switch__frame__toggle {
      transition: background-color .3s ease-in-out;
    }

    &:hover {
      border-color: rgba(var(--primary-accent), .55);

      .toggle-switch__frame__toggle {
        background-color: rgba(var(--primary-accent), .55);
      }
    }

    &__toggle {
      position: absolute;
      left: 1px;
      border-radius: 2px;

      transition: left .3s ease-in-out
                  background-color .3s ease-in-out;

      background-color: rgba(var(--app-fg), .5);
      height: $toggle-size;
      width: $toggle-size;

      &--active {
        background-color: rgba(var(--primary-accent), .3);
        left: 1px + $toggle-size;

      }
    }

    + * {
      margin-left: calc($toggle-size / 3);
    }
  }
}