.todo-list {
  margin: 60px;

  &__add-new {
    margin: 60px 0;
  }

  &-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 128px;

    .done {
      flex: 1;
      padding: 0 100px;
      box-sizing: border-box;
      text-align: center;
      font-weight: light;
    }
  }
}